# Byte-compiled / optimized / cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.venv/
venv/
env/

# Editor / IDE
.vscode/
.idea/
*.swp
.DS_Store
